<h1>Listing comments for Article <%=  @article.id %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Approved</th>
    <th>Content</th>
    <th>Email</th>
    <th>Article</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= comment.approved %></td>
    <td><%= comment.content %></td>
    <td><%= comment.email %></td>
    <td><%= link_to 'Show', article_comment_path(@article, comment) %></td>
    <td><%= link_to 'Edit', edit_article_comment_path(@article, comment) %></td>
    <td><%= link_to 'Delete', article_comment_path(@article, comment), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_article_comment_path %>
