<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @comment.name %>
</p>

<p>
  <b>Approved:</b>
  <%= @comment.approved %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Email:</b>
  <%= @comment.email %>
</p>

<p>
  <b>Article:</b>
  <%= @comment.article.title %>
</p>



<%= link_to 'Edit', edit_article_comment_path(@article) %> |
<%= link_to 'Back', article_comments_path(@article) %>
