<h1>Administration of Predictions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Approved</th>
    <th>Content</th>
    <th>Email</th>
    <th>Topic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @predictions.each do |prediction| %>
  <tr>
    <td><%= prediction.name %></td>
    <td><%= if prediction.approved then 'Yes' else 'No' end %></td>
    <td><%= prediction.content %></td>
    <td><%= prediction.email %></td>
    <td><%= prediction.topic_id %></td>
    <td><%= link_to 'Show', prediction %></td>
    <td><%= link_to 'Edit', :method => :edit, :topic_id => @topic.id, :id => prediction.id %></td>
    <td><%= link_to 'Delete', prediction, :confirm => 'Are you Question	sure?', :method => :delete %></td>
    <td><%= if prediction.approved  then
                  link_to 'Disapprove For Display', :action => 'approve', :id => prediction.id, :direction => 'disapprove'
            else
                  link_to 'Approve For Display', :action => 'approve', :id => prediction.id, :direction => 'approve'
            end
         %></td>


  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prediction', new_topic_prediction_path(@topic, @prediction) %>
