<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @prediction.name %>
</p>

<p>
  <b>Approved:</b>
  <%= @prediction.approved %>
</p>

<p>
  <b>Content:</b>
  <%= @prediction.content %>
</p>

<p>
  <b>Email:</b>
  <%= @prediction.email %>
</p>

<p>
  <b>Question:</b>
  <%= @prediction.question_id %>
</p>


<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
