<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Author</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Display Status</th>
    <th></th>
  </tr>

<% @articles_SFF.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.user %></td>
    <td><%= article.author %></td>
    <td><%= article.category.name %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Delete', article, :method => 'delete', :confirm => 'Are you sure you want to delete?' %></td>
    <td><b><%= if article.isdisplayed then
                  "*DISPLAYED*      " 
	    else
                  "*NOT DISPLAYED*  "
	    end
       %></b></td>
    <td><%= if article.isdisplayed then
           	  link_to 'Don\'t Display', :action => 'toggledisplay', :id => article.id, :direction => 'dontdisplay'
            else
           	  link_to 'Display', :action => 'toggledisplay', :id => article.id, :direction => 'display'
            end
       %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="10"> &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
  </tr>
 <tr>
    <th>Title</th>
    <th>User</th>
    <th>Author</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Display Status</th>
    <th></th>
  </tr>
  

<% @articles_FTD.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.user %></td>
    <td><%= article.author %></td>
    <td><%= article.category.name %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Delete', article, :method => 'delete', :confirm => 'Are you sure you want to delete?' %></td>
    <td><b><%= if article.isdisplayed then
                  "*DISPLAYED*      " 
	    else
                  "*NOT DISPLAYED*  "
	    end
       %></b></td>
    <td><%= if article.isdisplayed then
           	  link_to 'Don\'t Display', :action => 'toggledisplay', :id => article.id, :direction => 'dontdisplay'
            else
           	  link_to 'Display', :action => 'toggledisplay', :id => article.id, :direction => 'display'
            end
       %></td>
  </tr>
<% end %>
<tr>
    <td colspan="10"> &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
  </tr>
<tr>
    <th>Title</th>
    <th>User</th>
    <th>Author</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Display Status</th>
    <th></th>
  </tr>


<% @articles_TBN.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.user %></td>
    <td><%= article.author %></td>
    <td><%= article.category.name %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Delete', article, :method => 'delete', :confirm => 'Are you sure you want to delete?' %></td>
    <td><b><%= if article.isdisplayed then
                  "*DISPLAYED*      " 
	    else
                  "*NOT DISPLAYED*  "
	    end
       %></b></td>
    <td><%= if article.isdisplayed then
           	  link_to 'Don\'t Display', :action => 'toggledisplay', :id => article.id, :direction => 'dontdisplay'
            else
           	  link_to 'Display', :action => 'toggledisplay', :id => article.id, :direction => 'display'
            end
       %></td>
  </tr>
<% end %>




<tr>
    <td colspan="10"> &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
  </tr>
<tr>
    <th>Title</th>
    <th>User</th>
    <th>Author</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Display Status</th>
    <th></th>
  </tr>

<% @articles_P.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.user %></td>
    <td><%= article.author %></td>
    <td><%= article.category.name %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Delete', article, :method => 'delete', :confirm => 'Are you sure you want to delete?' %></td>
    <td><b><%= if article.isdisplayed then
                  "*DISPLAYED*      " 
	    else
                  "*NOT DISPLAYED*  "
	    end
       %></b></td>
    <td><%= if article.isdisplayed then
           	  link_to 'Don\'t Display', :action => 'toggledisplay', :id => article.id, :direction => 'dontdisplay'
            else
           	  link_to 'Display', :action => 'toggledisplay', :id => article.id, :direction => 'display'
            end
       %></td>
  </tr>
<% end %>




</table>

<br />

<%= link_to 'New Article', new_article_path %>
