<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content.html_safe %>
</p>

<p>
  <b>User:</b>
  <%= @article.user %>
</p>

<p>
  <b>Author:</b>
  <%= @article.author %>
</p>

<p>
  <b>Category:</b>
  <%= @article.category.name %>
</p>

<p>
  <b>Status:</b>
  <%= if @article.isdisplayed then 'Currently Displayed' else 'Not Currently Displayed' end %>
</p>


<%= link_to 'Comments', article_comments_path(@article) %> |

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
