<h1>Straight From Faithk</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Author</th>
    
    <th></th>
  </tr>

<% @articles_SFF.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.user %></td>
    <td><%= article.author %></td>
    <td><%= link_to 'Show', article %></td>
    
  </tr>
<% end %>
 
</table>

<br />

