<h1>The Brain</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Author</th>
    <th>Category</th>
    <th></th>
  </tr>

<% @articles_SFF.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.user %></td>
    <td><%= article.author %></td>
    <td><%= article.category.name %></td>
    <td><%= link_to 'Read Article', article %></td>

  </tr>
<% end %>
  <tr>
    <td colspan="10"> &nbsp;</td>
    <td colspan="10"> &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
  </tr>
 <tr>
    <th>Title</th>
    <th>User</th>
    <th>Author</th>
    <th>Category</th>
    <th></th>
  </tr>
  

<% @articles_FTD.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.user %></td>
    <td><%= article.author %></td>
    <td><%= article.category.name %></td>
    <td><%= link_to 'Read Article', article %></td>
 </tr>
<% end %>
<tr>
    <td colspan="10"> &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
    <td colspan="10"> &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
  </tr>
<tr>
    <th>Title</th>
    <th>User</th>
    <th>Author</th>
    <th>Category</th>
    <th></th>
  </tr>


<% @articles_TBN.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.user %></td>
    <td><%= article.author %></td>
    <td><%= article.category.name %></td>
    <td><%= link_to 'Read Article', article %></td>
  </tr>
<% end %>




<tr>
    <td colspan="10"> &nbsp;</td>
    <td colspan="10"> &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
    <td colspan="10">  &nbsp;</td>
   <td colspan="10">  &nbsp;</td>
  </tr>
<tr>
    <th>Title</th>
    <th>User</th>
    <th>Author</th>
    <th>Category</th>
    <th></th>
  </tr>

<% @articles_P.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.user %></td>
    <td><%= article.author %></td>
    <td><%= article.category.name %></td>
    <td><%= link_to 'Read Article', article %></td>
  </tr>
<% end %>




</table>

<br />
