<h1>Listing topics</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Displayed?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.content %></td>
    <td><%= if topic.isdisplayed then 'Yes' else 'No' end %></td>
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Delete', topic, :confirm => 'Are you sure you want to delete this topic?', :method => :delete %></td>
    <td><%= if topic.isdisplayed then
                  link_to 'Don\'t Display', :action => 'toggledisplay', :id => topic.id, :direction => 'dontdisplay'
            else
                  link_to 'Display', :action => 'toggledisplay', :id => topic.id, :direction => 'display'
            end
         %></td>

  </tr>


<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
