<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @topic.content %>
</p>

<%= link_to 'Responses', :controller => 'predictions', :action => 'index', :topic_id => @topic.id %> |
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
