<h1>Listing invitations</h1>

<table>
  <tr>
    <th>Recipient email</th>
    <th>Token</th>
    <th>Sent at</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invitations.each do |invitation| %>
  <tr>
    <td><%= invitation.recipient_email %></td>
    <td><%= invitation.token %></td>
    <td><%= invitation.sent_at %></td>
    <td><%= invitation.message %></td>
    <td><%= link_to 'Show', invitation %></td>
    <td><%= link_to 'Edit', edit_invitation_path(invitation) %></td>
    <td><%= link_to 'Destroy', invitation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invitation', new_invitation_path %>
