<p id="notice"><%= notice %></p>

<p>
  <b>Recipient email:</b>
  <%= @invitation.recipient_email %>
</p>

<p>
  <b>Token:</b>
  <%= @invitation.token %>
</p>

<p>
  <b>Sent at:</b>
  <%= @invitation.sent_at %>
</p>

<p>
  <b>Message:</b>
  <%= @invitation.message %>
</p>


<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
